#build
/build

#vim
.CMakeLists.txt.swp
.gitignore.swp
.headerPlayer.h.swp
.headerVisuals.h.swp
.main.cpp.swp
.player.cpp.swp
.README.md.swp
.visuals.cpp.swp
*.swp

images/puppy.jpg
web/images/puppy.jpg
